@import 'elements/navbar'
@import 'elements/footer'

// normilize()
global-reset()
// edit()

// *
//   box-sizing border-box

body
html
  height 100%
  width 100%
  background-color red
  box-sizing border-box

*
*:before
*:after
  box-sizing inherit

.main-page
  // group()
  .nav-container
    pass()

  .content
    clear both
    text-align center
    color white
    margin-top 200px
    font-size 50px
    h1
      

  .footer-container
    absolute bottom
    pass()
