//- - var items = ['menu mil', 'menu dos', 'menu tres', 'otro']
//- - var items = {'menu uno': {'sumenu uno': ['elem uno']}, 'menu dos': {'Submenu dos': ['elem uno']}}

//- ul.nav-container
  each item in items
    li.nav-item= item


.nav-container
  ul.nav-list
    li.nav-item Menu 1
    li.nav-item Menu 2
    li.nav-item Menu 3
    li.nav-logo
      img(src="images/logo.png")
    li.nav-item Menu 4
    li.nav-item Menu 5
    li.nav-item Menu 6