.footer-container
  clear both
  group()
  // size 100% 100%
  size 100% 50px
  background-color green

.footer-container p
  float left
  text-align center
  padding-top 15px
  col(3/5)

.footer-container .contact
  float left
  margin-top 7px
  simple-button(blue)
  // hover-darken()
  col(3/10)