h1 Bienvenido a la página a la que estamos acostumbrados

//- section Contenido en mi section

//- sidebar Contenido en el sidebar

//- cosarara Contenido en mi cosa rara

//- section Otra cosa rara

//- footer Esta cosa va ir centrada

.row
  .element.element1 Hola mundo
  .element.element2 Hola mundo dos
  .element.element3 Creo que tengo que hacer algo
  .element.element4 No debería

.navbar-container
  include partials/navbar